.page-recipe {
    text-align: center;
    width: 800px;
    height: 500px;
    margin: auto;
    font-family: 'Lucida Sans';
}

.above-text {
    position: absolute;
    top: -30px;
    left: 820px;
    font-family: 'Lucida Sans';
    color: #FFFFFF;
    font-size: 60px;
    line-height: 600px;
    text-align: center;
}

header {
    margin-top: 30px;
}

header, section {
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    height: 65px;
}

.apple-pie {
    display: block;
    width: 100%;
    height: 550px;
}

header, section {
    top: 10px;
    padding: 10px;
    margin-left: 40px;
    font-size: 16px;
    text-align: justify;
}

ul li {
    list-style-type: none;
}

ul li::before {
    content: "-";
}

ol li {
    list-style-type: decimal;
}